.mylist-container {
  padding: 2em;
  background-color: var(--color-dark);
  color: #ffffff;
  border-radius: 10px;
}

.mylist-container h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-gray);
  padding-bottom: 0.5rem;
}

.mylist-section {
  margin: 0 auto;
  width: 65%;
}

.mylist-section ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 1rem;
}

.mylist-section li {
  justify-content: space-between;
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 1rem;
  line-height: 1.6;
  font-size: 1rem;
  background: var(--color-gray);
  padding: 1rem;
  border-radius: 8px;
  transition: background 0.3s ease;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header img {
  width: 75px;
}

.info {
  display: flex;
  align-items: center;
  gap: 25px;
}

.info img {
  width: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.action-btns {
  display: flex;
  gap: 2em;
}

.action-btns .btn-remove,
.action-btns .btn-watched {
  padding: 0.8em 0.7em;
  border: none;
  box-shadow: none;
  border-radius: 10px;
  width: 130px;
  font-size: 0.9em;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.action-btns .btn-remove:hover,
.action-btns .btn-watched:hover {
  transform: scale(1.015);
  filter: saturate(1.5);
}

.action-btns .btn-remove {
  background-color: var(--color-primary);
}

.action-btns .btn-watched {
  background-color: var(--color-accent);
}

.action-btns .btn-watched:disabled {
  background-color: var(--color-dark);
  color: var(--color-light);
  cursor: default;
}

.dimmed .content-to-dim {
  opacity: 0.4;
  transition: opacity 0.8s ease;
  pointer-events: none;
}
