.home {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 8.2em 3em;
  border-radius: 1.3em;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: space-between;
  h1 {
    font-size: 2.7em;
    line-height: 1.2em;
  }
  .new-releases {
    max-width: 51ch;
    padding: 1.1em 0;
    font-size: 1.1em;
  }
  .streaming {
    color: var(--color-primary);
    font-size: 1.1em;
    line-height: 0.7em;
    font-weight: bold;
  }
  h2 {
    text-transform: uppercase;
  }
  .genres {
    display: flex;
    list-style: none;
    gap: 0.8em;
    font-size: 0.7em;
    padding-top: 1em;
    padding-bottom: 0.7em;

    li {
      background-color: var(--color-gray);
      border-radius: 1em;
      padding: 0 0.7em;
      font-size: 1.2em;
    }
  }
  .stars-views {
    font-size: 1em;
    padding-bottom: 2em;
  }
}

.aside {
  padding: 0 1em 1em 1em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  color: var(--color-light);
  border-radius: 20px;
  max-height: fit-content;

  h2 {
    text-align: center;
    padding-bottom: 1em;
    font-size: 1.4em;
  }

  .coming-soon-list {
    font-size: 0.85em;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 2em;

    li {
      padding-bottom: 0.4em;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 1.5em;
      font-size: 1.1em;

      img {
        border-radius: 10px;
        width: 150px;
        height: 210px;

        &:hover {
          filter: saturate(1.15);
          transform: scale(1.03);
          transition: transform 0.3s ease-in-out;
          cursor: pointer;
        }
      }

      .desc {
        max-width: 20ch;
        display: flex;
        flex-direction: column;
        font-size: 0.9em;
      }
    }
  }
}
