<section
  class="home section"
  [ngStyle]="{
    'background-image':
      'linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url(' +
      (streamedMovie?.image || 'assets/banner.png') +
      ')'
  }"
>
  <div class="main">
    <h1>Watch the Latest Movies Now</h1>
    <p class="new-releases">
      New releases, top picks, and exclusive titles — all in one place.
    </p>
    <p class="streaming">Now Streaming</p>
    <h2 *ngIf="streamedMovie">{{ streamedMovie.title }}</h2>
    <ul class="genres" *ngIf="streamedMovie">
      <li *ngFor="let genre of streamedMovie.genres">{{ genre }}</li>
    </ul>
    <p class="stars-views">Rating 8.7/10⭐</p>
    <button
      class="action-btn"
      (click)="details(streamedMovie._id)"
      *ngIf="streamedMovie"
    >
      Watch Now
    </button>
  </div>

  <div class="aside">
    <h2>Latest Movies</h2>
    <ul class="coming-soon-list">
      <li *ngFor="let movie of movies" (click)="details(movie._id)">
        <img [src]="movie.image" alt="Movie Poster" />
        <div class="desc">
          <strong>{{ movie.title }}</strong>
          <p>{{ movie.genres.join(', ') }}</p>
        </div>
      </li>
    </ul>
  </div>
</section>