.movies-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  gap: 30px;
  background-color: var(--color-dark) !important;
  margin: 1.15em auto;
  border-radius: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--color-gray);
  img {
    width: 75px;
    padding-top: 1.5em;
  }
}

.movies {
  display: flex;
  gap: 5em;
  flex-wrap: wrap;
  padding: 1em 1em;
  align-items: center;
  justify-content: center;
}

.description {
  max-width: 65ch;
  font-weight: bold;
}

h1 {
  font-size: 2.5em;
  color: var(--color-primary);
}

.movie-title {
  font-weight: bold;
  text-align: center;
}

.movie-rate,
.movie-desc {
  font-size: 0.9em;
  color: var(--color-light);
}

.add-to-my-list {
  margin: 1em auto;
  padding: 1em 1.5em;
  font-size: 0.9em;
  font-weight: bold;
  border-radius: 0.5em;
  background-color: var(--color-accent);
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.add-to-my-list:hover {
  transform: scale(1.015);
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 0.5em;
}

.image-wrapper img {
  width: 180px;
  height: 250px;
  border-radius: 6px;
  object-fit: cover;
}

.image-wrapper:hover img {
  transform: scale(1.03);
  cursor: pointer;
}

.image-wrapper::after {
  content: "Watch Now";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--color-light);
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  border-radius: 0.5em;
}

.image-wrapper:hover::after {
  opacity: 1;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0 auto;
  max-width: 400px;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  backdrop-filter: blur(4px);
}

.search-box input {
  flex: 1;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-light);
  outline: none;
}

.search-box input::placeholder {
  color: var(--color-light);
}

.search-box button {
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}

.search-box button:hover {
  transform: scale(1.015);
  transition: transform 0.2s ease-in-out;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    background-color: var(--color-accent);
    color: var(--color-light);
    border: none;
    border-radius: 10px;
    padding: 1em;
    font-size: 1.05em;
    font-weight: bold;

    &:hover {
      cursor: pointer;
      filter: saturate(1.8);
    }
  }
}