<div class="container">
  <div class="header">
    <img src="assets/logo.png" alt="logo" />
    <h1>Manage Movies</h1>
  </div>

  <form #movieForm="ngForm" (ngSubmit)="onSubmit()">
    <h2>Add movie</h2>
    <div class="data">
      <input
        type="text"
        id="title"
        name="title"
        [(ngModel)]="formData.title"
        placeholder="Title"
        required
        minlength="1"
        #title="ngModel"
      />
      <app-input-error-message
        [field]="title"
        fieldName="Title"
      ></app-input-error-message>
      <input
        type="text"
        id="director"
        name="director"
        [(ngModel)]="formData.director"
        placeholder="Director"
        required
        minlength="1"
        #director="ngModel"
      />
      <app-input-error-message
        [field]="director"
        fieldName="Director"
      ></app-input-error-message>
      <input
        type="number"
        id="releaseYear"
        name="releaseYear"
        [(ngModel)]="formData.releaseYear"
        placeholder="Release Year"
        required
        minlength="1"
        #releaseYear="ngModel"
      />
      <app-input-error-message
        [field]="releaseYear"
        fieldName="Release year"
      ></app-input-error-message>
      <div class="genres-checkboxes">
        <label *ngFor="let genre of allGenres">
          <input
            type="checkbox"
            [value]="genre"
            (change)="onGenreChange($event)"
            [checked]="formData.genres.includes(genre)"
          />
          {{ genre }}
        </label>

        <div *ngIf="submitted && formData.genres.length === 0" class="error">
          Please select at least one genre.
        </div>
      </div>
      <input
        type="string"
        id="image"
        name="image"
        [(ngModel)]="formData.image"
        placeholder="Image URL"
        required
        minlength="1"
        #image="ngModel"
      />
      <app-input-error-message
        [field]="image"
        fieldName="Image URL"
      ></app-input-error-message>
      <input
        type="number"
        id="duration"
        name="duration"
        [(ngModel)]="formData.duration"
        placeholder="Duration"
        required
        minlength="1"
        #duration="ngModel"
      />
      <app-input-error-message
        [field]="duration"
        fieldName="Duration"
      ></app-input-error-message>
    </div>

    <div class="actions">
      <button type="submit">Add Movie</button>
      <button type="reset">Clear</button>
    </div>
  </form>

  <ul class="movie-list">
    <h2>Search already added movies</h2>
    <app-searchbox (searchEvent)="handleSearch($event)"></app-searchbox>
    <div class="list-items">
      <li *ngFor="let movie of movies">
        <div class="img">
          <img
            [src]="movie.image || 'https://placehold.co/170x220'"
            [alt]="'Movie Poster - ' + movie.title"
          />
        </div>
        <div class="info">
          <p><span>Title: </span>{{ movie.title }}</p>
          <p><span>Release year: </span>{{ movie.releaseYear }}</p>
          <p><span>Director: </span>{{ movie.director }}</p>
          <p><span>Genres: </span>{{ movie.genres.join(", ") }}</p>
          <p><span>Rating: </span>{{ movie.rating }}⭐</p>
          <p><span>Duration: </span>{{ movie.duration }} min</p>
          <div class="controls">
            <button class="edit">Edit</button>
            <button class="delete">Delete</button>
          </div>
        </div>
      </li>
    </div>
  </ul>
</div>
