.container {
  margin: 20px auto;
  font-family: Arial, sans-serif;
  background: var(--color-dark);
  color: var(--color-light);
  padding: 20px;
  border-radius: 8px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 75px;
  }
}

h1 {
  text-align: center;
  margin-bottom: 1em;
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-gray);
}

h2 {
  color: var(--color-primary);
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 3em;
  justify-content: center;
  align-items: center;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 65%;
  justify-content: center;
}

input {
  padding: 0.8em;
  font-size: 1em;
  border: 1px solid var(--color-gray);
  border-radius: 4px;
  background-color: var(--color-gray);
  color: var(--color-light);
}

input:focus {
  border-color: var(--color-accent);
  outline: none;
  box-shadow: 0 0 5px var(--color-accent);
}

.actions {
  display: flex;
  gap: 10%;
  justify-content: center;
}

button {
  background-color: var(--color-accent);
  border: none;
  padding: 10px;
  color: var(--color-light);
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
  height: 50px;
}

button:hover {
  filter: saturate(1.5);
}

.movie-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
}

.list-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 20px;
  width: 100%;
  padding: 0;
}

.movie-list li {
  background: var(--color-gray);
  padding: 1.5em;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10%;
  width: 100%;
  box-sizing: border-box;
}
.movie-list li span {
  font-weight: bold;
  color: var(--color-accent);
  margin-top: 10px;
  text-align: center;
}

.controls {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  .delete {
    background-color: var(--color-primary);
  }

  .edit {
    background-color: var(--color-link);
  }
}

.genres-checkboxes {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.genres-checkboxes label {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  cursor: pointer;
  font-size: 1em;
  color: var(--color-light);
  background-color: var(--color-gray);
  border-radius: 6px;
  padding: 8px 15px 8px 15px;
  transition: background-color 0.3s ease;
}

.genres-checkboxes label:hover {
  background-color: var(--color-accent);
  color: var(--color-dark);
}

.img {
  img {
    aspect-ratio: 10 / 16;
    width: 155px;
    height: auto;
    border-radius: 10px;
  }
}

.no-movies p {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    color: var(--color-accent);
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-bottom: 8px;
}
