/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #ffffff;
  font: 16px/2 "Inter", sans-serif;
  /* justify-content: center; */
  background-color: #f8e5e5;
  color: rgb(27, 21, 21);
  padding: 0 1.5em;
}

main {
  flex: 1;
}

.action-btn {
  background-color: #e50914;
  color: white;
  padding: 1em 2.5em;
  border: none;
  border-radius: 0.5em;
  font-size: 1em;
  cursor: pointer;

  &:hover {
    opacity: 0.85;
  }
}

.section {
  margin: 1.15em 0;
}
