/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #eee;
  font: 16px/2 "Inter", sans-serif;
  justify-content: center;
  background-color: #0b0b0b;
  color: white;
  padding: 0 1.5em;
}
